* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'RocknRoll One', sans-serif;
}

main {
  flex: 1;
}

.navbar {
  font-family: 'Lobster Two', cursive;
  background-color: #4d77ad;
}

.navbar-brand {
  color: #fff;
  font-size: 28px;
}

footer {
  font-family: 'Lobster Two', cursive;
  height: 6vh;
  color: #ffffff;
  background-color: #4d77ad;
}

/* --------------- button --------------- */

.btns {
  position: fixed;
  top: 6.8rem;
  left: 300px;
}

.btn {
  opacity: 0.8;
}

/* --------------- border --------------- */

.hr {
  position: relative;
  left: -5px; 
  border: 1px double #419fec;
  width: 170px;
  opacity: 0.2;
}

.boundary {
  margin: 100px 0 40px 0;
  opacity: 0.7;
}

/* --------------- title --------------- */

.title {
  position: relative;
  top: 28px;
  color: #419fec;
  opacity: 0.2;
}

.hr-title {
  margin: 0 250px;
  border: 1px solid #419fec;
}

/* --------------- color --------------- */

.rb-top {
  border-radius: 3px 3px 0 0;
}

.rb {
  border-radius: 3px;
}

.g-blue {
  background: linear-gradient(to right, rgb(156, 176, 219), #fff);
}

/* --------------- color --------------- */
.bg-wblue {
  background-color: #4d77ad;
}

