* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* ------- header ------- */
header {
  text-align: center;
  background-color:#0077B6;
}

.header-center {
  line-height: 60px;
}

/* ------- footer ------- */
footer {
  text-align: center;
  background-color:#0077B6;
}

.footer-center {
  line-height: 50px;
}








.navbar-brand {
  color: #ffffff;
  font-size: 28px;
}

/* --------------- form --------------- */

.form {
  height: 790px;
}

.form-btn {
  position: fixed;
  top: 100px;
  width: 10px;
  opacity: 0.2;
}

/* --------------- button --------------- */

.btn-edit {
  position: fixed;
  top: 8rem;
  left: 67rem;
}

.btn-delete {
  position: fixed;
  top: 11rem;
  left: 67rem;
}

.btn-up {
  position: fixed;
  top: 50rem;
  left: 98rem;
}

.btn {
  opacity: 0.7;
}

.uppage-btn {
  width: 55px;
  height: 55px;
}

/* --------------- profile --------------- */

.profile-img {
  width: 100px;
  height: 100px;
}

/* --------------- border --------------- */

.hr {
  position: relative;
  left: -5px; 
  border: 1px double #419fec;
  width: 170px;
  opacity: 0.2;
}

.boundary {
  margin: 40px 0;
  opacity: 0.7;
}

/* --------------- title --------------- */

.title {
  position: relative;
  top: 28px;
  color: #419fec;
  opacity: 0.2;
}

.hr-title {
  margin: 0 250px;
  border: 1px solid #419fec;
}

/* --------------- rounded --------------- */

.rb-top {
  border-radius: 3px 3px 0 0;
}

.rb {
  border-radius: 3px;
}

/* --------------- color --------------- */

.bg-wblue {
  background-color: #4d77ad;
}

/* --------------- icon --------------- */

.fa-angle-double-up {
  font-size: 30px;
}

.sns-content {
  height: 55px;
}

.twitter {
  background: #6ac3ff;
  height: 35px;
  width: 35px;
}

.facebook {
  background: #1b50ff;
  height: 35px;
  width: 35px;
}

.fa-twitter {
  font-size: 20px;
}

.fa-facebook-f {
  font-size: 20px;
}
