{% extends "app/base.html" %}

{% block header %}
<nav class="navbar justify-content-center">
  <h3 class="navbar-brand m-0" href="#">Django portfolio</h3>
</nav>
{% endblock %}

{% block content %}
<div class="col-8 my-5 mx-3 bg-white border border-0 rb shadow-sm">
  <div class="container px-5">
    <div class="col-12 text-center mt-5">
      <h1 class="title mb-0">Welcome</h1>
      <h3 class="mt-0 mb-2 heading-4">ようこそ</h3>
      <hr class="hr-title">
      <p class="my-4">このサイトでは、制作物を紹介するポートフォリオサイトです。</p>
    </div>
    <div class="col-12">
      <div class="row d-flex justify-content-center">
        <div class="col-9 my-3 font-weight-light">
          <h5 class="mb-0">使用した言語・技術</h5>
          <hr class="hr mb-2 mt-0">
          <p>Django、Python、HTML/CSS、Bootstrap4</p>
        </div>
        <div class="col-9 font-weight-light">
          <h5 class="mb-0">実装機能</h5>
          <hr class="hr mb-2 mt-0">
          <p>投稿機能、編集機能、削除機能、認証機能</p>
        </div>
      </div>
    </div>
    <hr class="boundary">
    <div class="col-12 text-center">
      <h1 class="title mb-0">Introduction</h1>
      <h3 class="mt-0 mb-2 heading-4">自己紹介</h3>
      <hr class="hr-title">
    </div>
    {% for profile in profile_data %}
    <div class="col-12 text-center my-5">
      <img class="rounded-circle profile-img" src="../static/img/user.png" alt="プロフィール画像">
      <h5 class="my-3">{{ profile.author }}</h5>
      <div class="col-12 sns-content d-flex flex-row justify-content-center align-items-center">
        <div class="mr-4 twitter rounded-circle d-flex align-items-center justify-content-center">
          <div>
            <a href="#">
              <i class="fab fa-twitter text-white"></i>
            </a>
          </div>
        </div>
        <div class="facebook rounded-circle d-flex align-items-center justify-content-center">
          <a href="#">
            <i class="fab fa-facebook-f text-white"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 my-5">
      <div class="row d-flex justify-content-center">
        <div class="col-9 mb-4">
          {% if profile.career %}
            <h5 class="mb-0">経歴</h5>
            <hr class="hr mb-2 mt-0">
            <p>{{ profile.career }}</p>
          {% else %}
            <p>投稿はありません。</p>
          {% endif %}
        </div>
        <div class="col-9">
          {% if profile.programming_language %}
            <h5 class="mb-0">学習言語</h5>
            <hr class="hr mb-2 mt-0">
            <p>{{ profile.programming_language }}</p>
          {% else %}
            <p>投稿はありません。</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="my-2 btn-edit">
      <a class="btn btn-warning text-dark" href="#">編集</a>
    </div>
    <div class="my-2 btn-delete">
      <a class="btn btn-danger text-dark" href="#">削除</a>
    </div>
    <div class="my-2 btn-up">
      <a class="btn btn-primary rounded-circle text-dark d-flex align-items-center justify-content-center" href="/">
        <i class="fas fa-angle-double-up text-white"></i>
      </a>
    </div>
  </div>
</div>
<div class="col-3 my-5">
  <div class="col-12 p-0 shadow-sm align-self-start bg-white border border-0 rb">
    <h4 class="p-2 bg-wblue text-white rb-top">ナビゲーション</h4>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="nav flex-column my-3">
            <h5>
              <a class="nav-link p-0 my-1 text-dark" href="#">トップページ</a>
            </h5>
            <h5>
              <a class="nav-link p-0 my-1 text-dark" href="#">制作物</a>
            </h5>
            <h5>
              <a class="nav-link p-0 my-1 text-dark" href="#">管理画面</a>
            </h5>
            <h5>
              <a class="nav-link p-0 my-1 text-dark" href="#">ポートフォリオ投稿</a>
            </h5>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 p-0 shadow-sm my-5 align-self-start bg-white border border-0 rb">
    <h4 class="p-2 bg-wblue text-white rb-top">プロフィール</h4>
    <div class="container">
      <div class="row">
        {% for profile in profile_data %}
        <div class="col-12 text-center mt-3 mb-1">
          <img class="rounded-circle profile-img" src="../static/img/user.png" alt="プロフィール画像">
          <h5 class="my-3">{{ profile.author }}</h5>
        </div>
        <div class="col-12">
          <nav class="flex-column">
            <div class="align-self-center">
              <p>{{ profile.content }}</p>
            </div>
          </nav>
        </div>
        {% endfor %}
        <div class="col-12 mb-3 sns-content d-flex flex-row justify-content-center align-items-center">
          <div class="mr-4 twitter rounded-circle d-flex align-items-center justify-content-center">
            <div>
              <a href="#">
                <i class="fab fa-twitter text-white"></i>
              </a>
            </div>
          </div>
          <div class="facebook rounded-circle d-flex align-items-center justify-content-center">
            <a href="#">
              <i class="fab fa-facebook-f text-white"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="d-flex align-items-center justify-content-center">
  <h4 class="m-0">&copy; 2021</h4>
</footer>
{% endblock %}