{% extends "app/base.html" %}

{% block header %}
<nav class="navbar justify-content-center">
  <h3 class="navbar-brand m-0" href="#">Django portfolio</h3>
</nav>
{% endblock %}

{% block content %}
<div class="col-7 my-5 mx-3 bg-white border border-0 rb shadow-sm">
  <div class="container px-4">
    <div class="col-12 text-center mt-5">
      <h1 class="title mb-0">Welcome</h1>
      <h3 class="mt-0 mb-2 heading-4">ようこそ</h3>
      <hr class="hr-title">
      <p class="my-4">このサイトでは、制作物を紹介するポートフォリオサイトです。</p>
    </div>
    <div class="my-5">
      <div class="my-5 font-weight-light">
        <h5 class="mb-0">使用した言語・技術</h5>
        <hr class="hr mb-2 mt-0">
        <p>Django、Python、HTML/CSS、Bootstrap4</p>
      </div>
      <div class="font-weight-light">
        <h5 class="mb-0">実装機能</h5>
        <hr class="hr mb-2 mt-0">
        <p>投稿機能、編集機能、削除機能、認証機能</p>
      </div>
    </div>
    <hr class="boundary">
    <div class="col-12 text-center">
      <h1 class="title mb-0">Introduction</h1>
      <h3 class="mt-0 mb-2 heading-4">自己紹介</h3>
      <hr class="hr-title">
    </div>
    <div class="col-12 text-center my-5">
      <img class="rounded-circle" src="../static/img/user.png" alt="プロフィール画像">
      <h5 class="my-3">Django太郎</h5>
    </div>
    <div class="mb-5">
      <h5 class="mb-0">経歴</h5>
      <hr class="hr mb-2 mt-0">
      <p>大学卒業後...</p>
      <p>◯◯◯◯ 株式会社に入社...</p>
      <p>◯◯◯◯ 株式会社に転職...</p>
      <p>現在はエンジニアを目指して、プログラミングの勉強をしています。</p>
    </div>
    <div class="my-5">
      <h5 class="mb-0">学習言語</h5>
      <hr class="hr mb-2 mt-0">
      <p>Django、Python、HTML/CSS、Bootstrap4</p>
    </div>
    <a class="twitter" href="#">
      <i class="fab fa-twitter-square"></i>
    </a>
    <a class="facebook" href="#">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a class="instagram" href="#">
      <i class="fab fa-instagram-square"></i>
    </a>
    <div class="my-2 btns">
      <a class="btn btn-warning" href="#">編集</a>
    </div>
  </div>
</div>
<div class="col-4 my-5">
  <div class="col-12 p-0 shadow-sm align-self-start bg-white border border-0 rb">
    <h4 class="p-2 bg-wblue text-white rb-top">ナビゲーション</h4>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="nav flex-column my-3">
            <h5>
              <a class="nav-link p-0 my-1 text-dark" href="#">トップページ</a>
            </h5>
            <h5>
              <a class="nav-link p-0 my-1 text-dark" href="#">制作物</a>
            </h5>
            <h5>
              <a class="nav-link p-0 my-1 text-dark" href="#">管理画面</a>
            </h5>
            <h5>
              <a class="nav-link p-0 my-1 text-dark" href="#">ポートフォリオ投稿</a>
            </h5>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 p-0 shadow-sm my-5 align-self-start bg-white border border-0 rb">
    <h4 class="p-2 bg-wblue text-white rb-top">プロフィール</h4>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="flex-column">
            {% for profile in profile_data %}
            <div class="ml-5 align-self-center">
              <h4>{{ profile.author }}</h4>
              <p>{{ profile.content }}</p>
            </div>
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="d-flex align-items-center justify-content-center">
  <h4 class="m-0">&copy; 2021</h4>
</footer>
{% endblock %}